<header class="header">
	<div class="grid-container">
		<a href="#" class="logo"><%= I18n.t(:logo) %></a>
		<nav class="country-picker">
			<ul>
				<li><a class="sv" href="/sv/"></a></li>
				<li><a class="en" href="/en/"></a></li>
			</ul>
		</nav>
		<nav class="menu">
			<ul>
				<li><a href="#how-it-works"><%= I18n.t(:how_it_works_link) %></a></li>
				<li><a href="#information"><%= I18n.t(:information_link) %></a></li>
				<li><a href="#global-goals"><%= I18n.t(:global_goals_link) %></a></li>
				<li><a href="#contact"><%= I18n.t(:contact_link) %></a></li>
			</ul>
		</nav>

	</div>
</header>
