<article class="homepage">
	<% if flash.has?(:ok) %>
	<section id="notification" class="notification">
		<div class="grid-container">
			<h3><%= flash[:ok] %></h3>
			<div class="link-exit"></div>
		</div>
	</section>
	<% end %>
	<section id="about" class="information">
		<img src="/images/bg-how-it-works.jpg">
		<div class="right-block"></div>
		<div class="grid-container">
			<div class="col-6 right">
				<h5>About</h5>
				<h1>What is Hello Lamp Post?</h1>
				<p>Hello Lamp Post is a playful platform, inviting people to strike up conversations with familiar street furniture using text messages or Facebook Messenger, bringing to light the hidden stories of their cities.</p>
				<p>By using the thousands of pre-existing identifier codes that label items of street furniture across a whole city, people can have unique conversations with particular objects, including (but not limited to) lamp posts, post boxes, bollards, manholes, bins, or telegraph poles.</p>
			</div>
		</div>
	</section>

	<section id="how-it-works" class="process">
		<div class="grid-container">
			<div class="col-4">
				<div class="process-item">
					<div class="image-circle">
						<img src="/images/process-1.svg">
					</div>
					<h4><%= I18n.t(:pick_an_object) %></h4>
					<p><%= I18n.t(:pick_an_object_text) %></p>
				</div>
			</div>
			<div class="col-4">
				<div class="process-item">
					<div class="image-circle">
						<img src="/images/process-2.svg">
					</div>
					<h4><%= I18n.t(:say_hello) %></h4>
					<p>Send a text in this format: “Hello” + Object Name + #Code e.g. “Hello Bin #B6291”.</p>
				</div>
			</div>
			<div class="col-4">
				<div class="process-item">
					<div class="image-circle">
						<img src="/images/process-3.svg">
					</div>
					<h4><%= I18n.t(:keep_talking) %></h4>
					<p><%= I18n.t(:keep_talking_text) %></p>
				</div>
			</div>
		</div>
	</section>
</article>