<article class="homepage">
  <% if flash.has?(:ok) %>
  <section id="notification" class="notification">
    <div class="grid-container">
      <h3><%= flash[:ok] %></h3>
      <div class="link-exit"></div>
    </div>
  </section>
  <% end %>
  <section class="hero">
    <div class="grid-container">
      <div class="col-4">
        <h2>The playful, city-wide system that lets you talk to street furniture.</h2>
        <a class="link-btn-one js-contact">Bring it to your city</a>
      </div>
    </div>
    <div class="header-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide austin-lampost">
          <img src="/images/header-image-1.jpg"/>
          <div class="bubble-holder">
            <div class="text-bubble">
              <p>Hello Lamp Post #321</p>
            </div>
            <div class="text-bubble object">
              <p>Good Afternoon! Can you answer a question - what would be your super power and why?</p>
            </div>
            <div class="text-bubble">
              <p>Photosynthesis, so that eating would be pure pleasure!</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    </div>
    <a class="js-scroll-down-button link-scroll">Find Out More</a>
  </section>
  <section id="about" class="information">
      <img src="/images/bg-how-it-works.jpg">
      <div class="right-block"></div>
      <div class="grid-container">
        <div class="col-6 right">
          <h5>About</h5>
          <h1>What is Hello Lamp Post?</h1>
          <p>Hello Lamp Post is a playful platform, inviting people to strike up conversations with familiar street furniture using text message functions or Facebook Messenger, bringing to life the hidden stories of their cities. </p>
          <p>By using the thousands of pre-existing identifier codes that label items of street furniture across a whole city, people can have unique conversations with particular objects, including (but not limited to) lamp posts, post boxes, bollards, manholes, bins, or telegraph poles.</p>
          <a class="link-btn-one js-learn-more">Show More</a>
        </div>
      </div>
    </section>
    <section class="how-to-play">
      <div class="grid-container">
        <div class="col-6">
          <h1>More Information</h1>
          <p>Hello Lamp Post is a flexible and scalable system that can easily travel from one location to another, offering people from all around the world the chance to have interesting, surprising and often funny conversations with the street furniture they pass by everyday.</p>
          <p>Hello Lamp Post encourages people to look at the city with fresh eyes and engage with systems we often take for granted – a chance for us to slow down, reflect and see the city as a playground.</p>
        </div>
        <div class="col-6 pushed-column">
          <p>From a hectic one-night event in Tokyo to a 10 weeks project in Austin, Hello Lamp Post is a flexible and adaptable system that can easily be taken around the world and displayed in virtually any location.</p>
          <p>Now in it’s 10th city, Hello Lamp Post is ongoing, with installations scheduled for the rest of 2017 and beyond. Would you be interested in taking it to your city?! Please click here !</p>
        </div>
      </div>
    </section>
    <section id="how-it-works" class="process">
      <div class="grid-container">
        <div class="col-4">
          <div class="process-item">
            <div class="image-circle">
              <img src="/images/process-1.svg">
            </div>
            <h4><%= I18n.t(:pick_an_object) %></h4>
            <p><%= I18n.t(:pick_an_object_text) %></p>
          </div>
        </div>
        <div class="col-4">
          <div class="process-item">
            <div class="image-circle">
              <img src="/images/process-2.svg">
            </div>
            <h4><%= I18n.t(:say_hello) %></h4>
            <p>Send a text in this format: “Hello” + object type + #code e.g. “Hello Bin #B6291”.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="process-item">
            <div class="image-circle">
              <img src="/images/process-3.svg">
            </div>
            <h4><%= I18n.t(:keep_talking) %></h4>
            <p><%= I18n.t(:keep_talking_text) %></p>
          </div>
        </div>
      </div>
    </section>
    <section id="locations" class="locations">
      <div id='map'></div>
      <div class="grid-container">
        <div class="col-4">
          <h1>Locations</h1>
          <p>Since its creation in 2013, Hello Lamp Post has traveled around the world and visited several cities, as part of festivals and events, or as a stand alone project.</p>
          <a class="link-btn-one js-contact">Get In Touch</a>
        </div>
      </div>
    </section>
    <section class="press">
      <div class="grid-container">
        <div class="row">
          <h1>As Featured On:</h1>
        </div>
        <div class="row">
          <div class="col-3">
            <img src="/images/bbc-logo.png">
          </div>
          <div class="col-3">
            <img src="/images/daily-logo.png">
          </div>
          <div class="col-3">
            <img src="/images/fox-logo.png">
          </div>
          <div class="col-3">
            <img src="/images/guardian-logo.png">
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <img src="/images/huffington-logo.png">
          </div>
          <div class="col-3">
            <img src="/images/metro-logo.png">
          </div>
          <div class="col-3">
            <img src="/images/time-out.png">
          </div>
          <div class="col-3">
            <img src="/images/wired-logo.png">
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <img src="/images/forbes.png">
          </div>
          <div class="col-3">
            <img src="/images/the-telegraph.png">
          </div>
          <div class="col-3">
            <img src="/images/fast-company.png">
          </div>
          <div class="col-3">
            <img src="/images/5.png">
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="contact">
      <div class="grid-container">
        <div class="col-4">
          <h5>Contact</h5>
          <h1>Get In Touch</h1>
          <p>We are always happy to hear from you, whether you’re looking for more info on the project or collaborating with us. do not hesitate to drop us a message!</p>
          <a class="link-btn-one" href="mailto:hellolamppost@panstudio.co.uk?Subject=Hello%20Lamppost%20Malmö%20Enquiry">Email Us</a>
        </div>
        <div class="col-6">
            <form class="contact-form" action="/contact" method="post">
              <fieldset>
                <label for="name">Name:</label>
                <input type="text" name="name" placeholder="Example Name">
              </fieldset>
              <fieldset>
                <label for="email">Email address:</label>
                <input type="email" name="email" placeholder="Example@Domain.co.uk">
              </fieldset>
              <label for="subject">Subject:</label>
              <select name="subject" form="subject-form">
                <option selected value="I am interested in Hello Lamp Post for my city">I am interested in Hello Lamp Post for my city.</option>
                <option value="I have a question about Hello Lamp Post">I have a general question about Hello Lamp Post.</option>
                <option value="I am interested in collaborating with Hello Lamp Post">I am interested in collaborating with Hello Lamp Post.</option>
                <option value="Other">Other.</option>
              </select>
              <label for="message">Your message:</label>
              <textarea name="message" cols='30' placeholder="Hello Lamp Post..." rows="10"></textarea><br>
              <input type="submit" class="btn" value="Submit">
            </form>
        </div>
      </div>
    </section>
    <!--
    <section id="news" class="information">
      <img src="/images/bg-news.jpg">
      <div class="right-block"></div>
      <div class="grid-container">
        <div class="col-6 right">
          <h5>News</h5>
          <h1>Announcing...</h1>
          <p class="news-date">27/03/2018</p>
          <p>In April 2018, "Salem Astana 2017" will be officially rebranded as purely "Hello Lamp Post”. This change will include an update to our system content, marketing collateral and changes on all related social media pages.</p>

          <p>Our current partners and stakeholders are onboard with this update and understand that it makes sense for Hello Lamp Post’s direction as a product and service.</p>
        </div>
      </div>
    </section> 
  -->
  </article>
