<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="initial-scale=1, user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">


<!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


	<!-- Meta Tags -->
	<title>Hello Lamp Post</title>
	<meta name="author" content="Hello Lamp Post" />
	<meta name="description" content="The playful, system that brings citizens and their city closer together." />
	<meta name="keywords"  content="city, playful, SMS, Facebook Messenger, interactive, fun, street furniture, text" />

	<!-- Icons -->
	<link rel="icon" href="/images/favicon.svg" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/images/touch-icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Sharing -->
	<meta property="og:title" content="Hello Lamp Post" />
	<meta property="og:description" content="The playful, system that brings citizens and their city closer together." />
	<meta property="og:url" content="http://www.hellolamppost.co.uk/" />
	<meta property="og:image" content="https://hello-lamp-post.herokuapp.com/images/og-image.png" />
	<meta property="og:image:alt" content="http://www.hellolamppost.co.uk/images/og-image.png" />
	<meta property="fb:app_id" content="205335633527044">
	<meta property="og:type" content="website" />

	<meta name="twitter:card" content="summary" />

	<!-- Styles -->
	<link rel="stylesheet" href="/assets/style.css">

  <!-- Scroll Reveal-->
  <script src="https://unpkg.com/scrollreveal"></script>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109707231-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-109707231-1');
	</script>

	<!-- MapBox -->
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />


  <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '227757898157724');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=227757898157724&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


</head>


<body ontouchstart="" class="mf-v4 <%= I18n.t(:country_code) %>">
  <script>
    fbq('track', 'ViewContent');
  </script>
  
  <%= erb :_header %>

	<%= yield %>

  <%= erb :_contact %>
  <%= erb :_footer %>


  <script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>
