<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1", user-scalable=no>
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/assets/style.css">
    <link href='//assets.malmo.se/external/v4/masthead_standalone.css' media='all' rel='stylesheet' type='text/css'/>
    <link rel='icon' type='image/x-icon' href='//assets.malmo.se/external/v4/favicon.ico'/>
    <link rel="icon" href="http://www.hellolamppostaustin.com/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon-32.png" type="image/png" />
    <title><%= I18n.t(:name ) %></title>
    <meta name="author" content="Pan Studio" />
    <meta name="description" content="<%= I18n.t(:description ) %><" />
    <meta name="keywords"  content="city, playful, sms, fun, street furniture" />

  </head>
  <body class="mf-v4 <%= I18n.t(:country_code) %>">

    <%= erb :_header %>

    <%= yield %>

    <%= erb :_footer %>

  </body>
</html>
